html {
    background-color: #FFEDE8;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "raleway";
    color: #222222;


}


.logo-container {
    display: flex;
    width: 100px; 
    height: 100px; 
    margin-bottom: 50px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 50%;
    margin-right: 50%;
    box-shadow: 0 5px 10px rgba(225, 106, 106, 0.1);
  }
  
  .logo-image {
    width: 100%; 
    height: auto; 
  }

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;

}

.interests-images {
    width: 25%;
    max-width: 25%;
    height: auto;
    max-height: 25%;
    box-shadow: 0 5px 10px rgba(225, 106, 106, 0.3);
    
}

.interests {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    
}

p {
    font-size: 24px;
    margin-bottom: 50px;
}

hr {
    visibility: hidden;
}

h3 {
    margin-top: 50px;
    font-size: 30px;

}
